/*--------------------------- Color variations ----------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/* =================================== */
/*  Basic Style 
/* =================================== */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #cccccc;
  font-weight: 300;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #cccccc;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #cccccc;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cccccc;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cccccc;
  font-weight: 300;
}

body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  color: #777777;
}

/**
 *  Typography
 *
 **/

h1 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

h1 {
  font-size: 36px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.text-white {
  color: #fff;
}

.section-full {
  padding: 0;
}

.relative {
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.primary-btn {
  line-height: 40px;
  padding: 0 40px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #00ff8c;
  color: #222222;
  display: inline-block;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.primary-btn:focus {
  outline: none;
}

.primary-btn.banner-btn {
  color: #fff;
  margin-top: 60px;
}

.primary-btn:hover {
  background: #00ff8c;
  color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
}

/************************/
/* structure de la page */
/************************/

.default-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.default-header .right-bar {
  position: relative;
}

.default-header nav .main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

@media (max-width: 767px) {
  .default-header nav .main-menu {
    display: none;
  }
}

.default-header nav .main-menu a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 12px;
}

@media (max-width: 991px) {
  .default-header nav .main-menu a {
    margin: 0 5px;
  }
}

.default-header nav .main-menu a:hover {
  color: #00ff8c;
}

.default-header nav .mobile-btn {
  display: none;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767px) {
  .default-header .main-menu {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    background: #4a4fad;
    padding: 30px 20px;
  }
  .default-header .main-menu a {
    margin: 5px 20px !important;
  }
  .default-header .mobile-btn {
    display: block !important;
    font-size: 36px !important;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.sticky-header {
  padding: 15px 0;
}

.search {
  padding: 6px 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.search span {
  color: #fff;
}

.search:hover .search-field {
  transform: scaleY(1) !important;
}

@media (max-width: 767px) {
  .search {
    margin-right: 60px;
  }
}

.search-field {
  transform: scaleY(0);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: -13px;
  right: -2px;
}

.search-field:hover {
  transform: scaleY(1) !important;
}

.search-field input {
  line-height: 60px;
  background: #4a4fad;
  width: 600px;
  border: none;
  color: #fff;
  padding: 0 70px 0 25px;
  font-weight: 400;
}

@media (max-width: 991px) {
  .search-field input {
    width: 400px;
  }
}

@media (max-width: 767px) {
  .search-field input {
    width: 300px;
  }
}

@media (max-width: 575px) {
  .search-field input {
    width: 200px;
  }
}

.search-field .search-submit {
  width: 60px;
  height: 60px;
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.search-field .search-submit span {
  color: #fff;
}

.header-social {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .header-social {
    display: none !important;
  }
}

.header-social a {
  margin: 0 5px;
  padding: 0 5px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}

.header-social a:hover {
  color: #00ff8c;
}

.footer-social {
  margin-right: -5px;
}

.footer-social a {
  font-size: 18px;
  margin: 0 5px;
  padding: 0 5px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}

.footer-social a:hover {
  color: #00ff8c;
}

.banner-area {
  background: url(../img/banner.jpg) no-repeat center center/cover;
}

.banner-area .overlay-bg {
  background: -moz-linear-gradient(left, rgba(60, 64, 143, 0.95) 0%, rgba(91, 97, 207, 0.95) 100%);
  background: -webkit-linear-gradient(left, rgba(60, 64, 143, 0.95) 0%, rgba(91, 97, 207, 0.95) 100%);
  background: linear-gradient(to right, rgba(60, 64, 143, 0.95) 0%, rgba(91, 97, 207, 0.95) 100%);
}

footer {
  background: #222222;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footer-bottom .footer-text a:hover {
  color: #00ff8c;
}


/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    margin: 0 15px;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #00ff8c;
}

/* Add an active class to highlight the current page */
.active {
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}