<!DOCTYPE html>
<html lang="zxx" class="no-js">
   <head>
      {% load static %}
      <!-- Mobile Specific Meta -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Favicon-->
      <link rel="shortcut icon" href="{% static "series/img/fav.png" %}">
      <!-- Meta Description -->
      <meta name="description" content="">
      <!-- Meta Keyword -->
      <meta name="keywords" content="">
      <!-- meta character set -->
      <meta charset="UTF-8">
      <!-- Site Title -->
      <title>SeriesNotifier</title>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- CSS -->
      <link rel="stylesheet" href="{% static "series/css/linearicons.css" %}">
      <link rel="stylesheet" href="{% static "series/css/font-awesome.min.css" %}">
      <link rel="stylesheet" href="{% static "series/css/bootstrap.css" %}">
      <link rel="stylesheet" href="{% static "series/css/main.css" %}">
   </head>
   <body>
      <div class="overlay overlay-bg"></div>
      <div id="top"></div>
      <!-- Start Header Area -->
      <header class="default-header">
         <div class="sticky-header" style="background: rgba(50, 50, 50, 1);" >
            <div class="container">
               <div class="header-content d-flex justify-content-between align-items-center">
                  <div class="logo">
                     <a href="" class="smooth"><img src="{% static "series/img/logo2.png" %}" alt=""></a>
                  </div>
                  <div class="right-bar d-flex align-items-center">
                     <nav>
                        <div class="topnav" id="myTopnav">
                           {% if user != "-1" and not user.is_anonymous %}
                             <a id="searchlink" href="" style="display: none;">Keresés</a>
                             <a id="myserieslink" href="#" onclick="myseries()">Sorozataim</a>
                             <a href="/logout/">LOGOUT</a>
                             <a href="#" onclick="myprofile()">{{ user }}</a>
                             <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
                           {% else %}
                             <a href="#" onclick="document.getElementById('id01').style.display='block'">LOGIN</a>
                           {% endif %}
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- End Header Area -->
      <!-- Start Banner Area -->
      <section class="banner-area relative">
         <div class="container">
            <div id="search-page" class="row justify-content-center align-items-center">
               <div class="col-lg-8" style="padding-top:150px">
                  <div class="searchtemp text-right">
                     <nav>
                        <div class="search relative">
                        	<!-- EZ A NAGYÍTÓ ERRE KELL A LINK -->
                           <span class="lnr lnr-magnifier" onclick="submitSearch()"></span>
                           <form action="" class="search-field" method="post" autocomplete="off">
                              {% csrf_token %}
                              <input list="titles" name="title" id="title" placeholder="Ide írd a címet"
                                     onkeyup="showHint(this.value)">
                               <datalist id="titles"></datalist>
                           </form>
                           <span id="txtHint"></span>
                        </div>
                     </nav>
                  </div>
                  <div class="banner-content text-center" style="padding-bottom: 50px">
                     <h1 class="text-uppercase text-white">Keresés eredménye:</h1>
                     <div class="text-center">
                         {% if id and user != "LOGIN" %}
                            <a href="/subscribe/{{ id }}/" class="primary-btn banner-btn">Feliratkozás</a>
                         {% elif id %}
                            <p class="text-white">A feliratkozáshoz be kell jelentkezned</p>
                         {% endif %}
                        <div class="text-left">
                           <p class="text-uppercase text-white">Cím: {{ name }}</p>
                           <p class="text-uppercase text-white">Értékelés: {{ vote_average }}</p>
                           <p class="text-uppercase text-white">Első megjelenési dátum: {{ first_air_date }}</p>
                           <p class="text-uppercase text-white">Következő epizód megjelenése: {{ next_episode_date }}</p>
                           <p class="text-uppercase text-white">Leírás: {{ overview }}</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row justify-content-center align-items-center">
               <div id="my-series-table" class="text-white col-lg-8" style="padding-top:150px"></div>
            </div>
            <!-- Trigger/Open the Modal -->
            <!-- The Login Modal -->
            <div id="id01" class="w3-modal" style="padding-top:150px; background: rgba(50, 50, 50, 0.75);">
               <div class="w3-modal-content" style="font-family: 'Poppins', sans-serif;">
                  <div class="w3-container">
                     {% if loginerror %}
                        <script>
                            console.log("lefut");
                            document.getElementById("id01").style.display = "block";
                        </script>
                     {% endif %}
                     <span onclick="document.getElementById('id01').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                     <form class="w3-container" action="/login/" method="post" style="margin-top:20px;">
                        {% csrf_token %}
                        <div class="w3-section">
                           <label><b>Felhasználónév</b></label>
                           <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Felhasználónév" name="usrname" required>
                           <label><b>Jelszó</b></label>
                           <input class="w3-input w3-border w3-margin-bottom" type="password" placeholder="Jelszó" name="pwd">
                           <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Belépés</button>
                            {% if loginerror %}
                                <p>{{ loginerror }}</p>
                            {% endif %}
                        </div>
                     </form>
                     <div class="w3-container w3-border-top w3-padding-16">
                        <span class="w3-right w3-padding">Nem vagy <a href="#" onclick="document.getElementById('id01').style.display='none'; document.getElementById('id02').style.display='block'">regisztrálva?</a></span>
                     </div>
                  </div>
               </div>
            </div>
			<!-- The Register Modal -->
            <div id="id02" class="w3-modal" style="padding-top:150px; background: rgba(50, 50, 50, 0.75);">
               <div class="w3-modal-content" style="font-family: 'Poppins', sans-serif;">
                  <div class="w3-container">
                     {% if regerror %}
                        <script>
                            document.getElementById("id01").style.display = "none";
                            document.getElementById("id02").style.display = "block";
                        </script>
                     {% endif %}
                     <span onclick="document.getElementById('id01').style.display='none'; document.getElementById('id02').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                     <form class="w3-container" style="margin-top:20px;" action="/register/" method="POST">
                        {% csrf_token %}
                        <h2>Regisztráció</h2>
                        <div class="w3-section">
                           <label><b>Felhasználónév</b></label>
                           <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Felhasználónév" name="usrname-r" required>
                           <label><b>E-mail cím</b></label>
                           <input class="w3-input w3-border w3-margin-bottom" type="email" placeholder="E-mail cím" name="email-r" required>
                           <label><b>Jelszó</b></label>
                           <input class="w3-input w3-border w3-margin-bottom" type="password" placeholder="Jelszó" name="pwd-r" required>
                           <label><b>Jelszó újra</b></label>
                           <input class="w3-input w3-border w3-margin-bottom" type="password" placeholder="Jelszó" name="pwd-r2" required>
                           <input type="checkbox" name="emailNotify" value="True"> Kérek e-mail értesítést a megjelenő sorozatokról<br>
                           <button class="w3-button w3-block w3-green w3-section" type="submit">Regisztráció</button>
                            {% if regerror %}
                                <p>{{ regerror }}</p>
                            {% endif %}
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Banner Area -->
      <footer class="section-full">
         <div class="container">
            <div class="footer-bottom d-flex justify-content-between align-items-center">
               <p class="footer-text m-0">Copyright &copy; 2018  |  All rights reserved to <a href="#">Series Notifier inc.</a> Powered by <a target="_blank" href="https://www.themoviedb.org/">The Movie DB</a>.</p>
               <div class="footer-social d-flex align-items-center">
                  <a href="https://github.com/idemku/SeriesWatch"><i class="fa fa-github"></i></a>
               </div>
            </div>
         </div>
      </footer>
      <script src="{% static "series/js/vendor/jquery-2.2.4.min.js" %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="{% static "series/js/vendor/bootstrap.min.js" %}"></script>
      <script src="{% static "series/js/jquery.ajaxchimp.min.js" %}"></script>
      <script src="{% static "series/js/jquery.sticky.js" %}"></script>
      <script src="{% static "series/js/owl.carousel.min.js" %}"></script>
      <script src="{% static "series/js/main.js" %}"></script>
      <script src="{% static "series/js/ajax-functions.js" %}"></script>
      <script>
         function myFunction() {
             var x = document.getElementById("myTopnav");
             if (x.className === "topnav") {
                 x.className += " responsive";
             } else {
                 x.className = "topnav";
             }
         }
      </script>
   </body>
</html>