<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Kereső</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        Sorozat címe: <input type="text" name="title">
        <input type="submit" value="Keresés">
    </form>
    <p>Eredmény:<br><br>Cím: {{ name }}<br>Értékelés: {{ vote_average }}<br>
        Első megjelenési dátum: {{ first_air_date }}<br>Következő epizód megjelenése: {{ next_episode_date }}<br>
        Legutóbbi epizód dátum: {{ last_air_date }}<br>Leírás: {{ overview }}</p>
</body>
</html>